* {
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
}

body {
  background-color: rgba(0, 0, 0, 0.723);
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid black;
  max-width: 40%;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
  background-image: linear-gradient(to left, #cc00cc 10%, #004d99);
  box-shadow: 1px 1px 10px black;
}

.control-panel {
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  padding: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

button:active {
  background-color: rgba(0, 102, 255, 0.2);
}

#input-field {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.paragraph-style {
  color: white;
  font-size: larger;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  padding: 5px;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 10%;
}
